body {
	background-color: black;
	margin: 0px;
}

.load_box {
	border: 6px solid;
	border-image: linear-gradient(0deg, black, white) 5;
	margin: 40% auto;
	width: 125px;
	height: 125px;
}

.button {
	width: 80px;
	height: 20px;
	border: 3px solid white;
	margin: 30px auto;
	border-radius: 3px;
}

.button_box {
	display: flex;
	width: 100%;
	height: 160px;
}

.button_box_in {
	width: 30%;
	height: auto;
	margin: 10px auto;
}

#g_1 {
	background: linear-gradient(90deg, #ee9ca7, #ffdde1);
}
#g_2 {
	background: linear-gradient(90deg, #7F00FF, #E100FF);
}
#g_3 {
	background: linear-gradient(90deg, #f12711, #f5af19);
}
#g_4 {
	background: linear-gradient(90deg, #5C258D, #4389A2);
}
#g_5 {
	background: linear-gradient(90deg, #373b44, #4286f4);
}
#g_6 {
	background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

.button_in_g {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.speed_box {
	margin: 10px auto;
	display: flex;
    justify-content: center;
    width: 100%;
}

.speed_button {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 3px solid white;
	background-color: black;
}